---
layout: default
---

<div class="post">
  <div class="post-info">
    {% if page.author %}
      {% if page.author.url %}
        <a href="{{ page.author.url }}" rel=author target="_blank">{{ page.author.name }}</a>
      {% else %}
        <a>{{ page.author.name }}</a>
      {% endif %}
    {% else %}
      {% if site.author.url %}
        <a href="{{ site.author.url }}" rel="author" target="_blank">{{ site.author.name }}</a>
      {% else %}
        <a>{{ site.author.name }}</a>
      {% endif %}
    {% endif %}

    {% if page.date %}
      <br>
      <time datetime="{{ page.date }}">{{ page.date | date_to_long_string }}</time>{% if page.published == false %} (unpublished){% endif %}
      <div class="hidden">
        <!-- The date and time when your article was originally published -->
        <time class="op-published" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string: "ordinal" }}</time>
      </div>
    {% endif %}
    {% if page.modified %}
      <div class="hidden">
        <!-- The date and time when your article was last updated -->
        <time class="op-modified" dateTime="{{ page.modified | date_to_xmlschema }}">{{ page.modified | date_to_string: "ordinal" }}</time>
      </div>
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title | smartify }}</h1>
  <div class="post-line"></div>

  {% if page.subtitle %}
    <h2 class="post-subtitle">{{ page.subtitle | smartify }}</h2>
  {% endif %}

  {% assign drop_cap = content | strip_html | truncate: 1, '' %}
  {% if drop_cap == '‘' or drop_cap == '“' %}
    {% assign drop_cap = content | strip_html | truncate: 2, '' %}
  {% endif %}
  {% capture drop_cap_html %}<span class="drop-cap">{{ drop_cap }}</span>{% endcapture %}
  {{ content | replace_first:drop_cap,drop_cap_html | replace_first:'</p>','</p><!--more-->' }}

</div>

<div class="share-bar" style="margin-bottom: 1em;">
  {% include share.html %}
</div>

{% include related.html %}

<div class="hidden">
  {{ page.tags | join: ', '}}
</div>

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>
